{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container">
  <h1 class="text-center mt-4">Book Listing</h1>

  <div class="row mt-5">
    {% for book in books %}
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img
          src="{% static 'images/book-cover-placeholder.jpg' %}"
          class="card-img-top"
          alt="Book cover"
        />
        <div class="card-body">
          <h5 class="card-title">{{ book.title }}</h5>
          <p class="card-text">{{ book.author }}</p>
          <p class="card-text">{{ book.description|truncatewords:20 }}</p>
          <a
            href="{% url 'book_details_view' book.slug %}"
            class="btn btn-danger"
            >View Details</a
          >
          {% if user.is_authenticated %}
          <a
            href="{% url 'add_to_wish_list_from_list' book.id %}"
            class="btn btn-secondary mt-2"
            >Want-to-read</a
          >
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Pagination -->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if page_books.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_books.previous_page_number }}"
          >Previous</a
        >
      </li>
      {% endif %} {% for num in page_books.paginator.page_range %}
      <li class="page-item {% if page_books.number == num %}active{% endif %}">
        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
      </li>
      {% endfor %} {% if page_books.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_books.next_page_number }}"
          >Next</a
        >
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endblock %}
