{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container">
  <h1 class="text-center mt-4">Book Listing</h1>

  <div class="row mt-5">
    {% for book in page_books %}
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        {% if book.cover_image %}
        <img
          src="{{ book.cover_image.url }}"
          <!--
          Use
          uploaded
          cover
          image
          if
          available
          --
        />
        class="card-img-top" alt="Book cover" /> {% else %}
        <img
          src="{% static 'images/book-cover-placeholder.jpg' %}"
          <!--
          Fallback
          to
          placeholder
          if
          no
          image
          --
        />
        class="card-img-top" alt="Book cover" /> {% endif %}

        <div class="card-body d-flex flex-column justify-content-between">
          <div>
            <h5 class="card-title">{{ book.title }}</h5>
            <p class="card-text">{{ book.author }}</p>
            <p class="card-text">{{ book.description|truncatewords:20 }}</p>
          </div>
          <div class="mt-2">
            <a
              href="{% url 'book_details_view' book.slug %}"
              class="btn btn-danger"
              >View Details</a
            >
            <a
              href="{% url 'add_to_wish_list_from_list' book.id %}"
              class="btn btn-secondary"
              >Want-to-read</a
            >
          </div>
        </div>
      </div>
    </div>
    {% empty %}
    <p>No books available at the moment.</p>
    {% endfor %}
  </div>

  <!-- Pagination controls -->
  <div class="pagination justify-content-center mt-4">
    <span class="page-link">
      Page {{ page_books.number }} of {{ page_books.paginator.num_pages }}
    </span>
    <div class="btn-group">
      {% if page_books.has_previous %}
      <a
        href="?page={{ page_books.previous_page_number }}"
        class="btn btn-secondary"
        >Previous</a
      >
      {% endif %} {% if page_books.has_next %}
      <a
        href="?page={{ page_books.next_page_number }}"
        class="btn btn-secondary"
        >Next</a
      >
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
